<div class="container-fluid">
  <div class="row">
<div class="col s8 m6">
  <h2 class="header" *ngIf="producto">Ver Producto</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{producto.imagen}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title"><b>{{producto.nombre}}</b></span>
        <p>Precio: {{producto.precio | currency:'NIO':'C$ ':'1.2-2'}}</p>
        <p>Disponible: {{producto.cantidad}}</p>
        <p>Descripción: {{producto.descripcion}}</p>
      </div>
      <div class="card-action">
        <a href="#" (click)="goBack()">Atras</a>
        <a href="#">Like</a>
        <a href="#">Share</a>
      </div>
    </div>
  </div>
</div>


<div class="col s4 m6" >
  <h2 class="header" >Comentarios</h2>

  <div class="row">
    <div class="col s12" >

        <ul class="collection" *ngFor="let item of producto.comentarios">
            <li class="collection-item avatar">
              <i class="material-icons circle green">insert_chart</i>
                <span class="title"><i><b> {{item.comentario}}</b> </i></span>
                <p>--<span> {{item.autor}} </span><br>
                    <span> {{item.fecha | date}} </span>
                </p>
                <a href="#!" class="secondary-content" > {{item.rating}} <i class="material-icons icon-red">star</i></a>
            </li>
          
        </ul>

    </div>
</div>


</div>
</div>
</div>