<div class="total">
    <div class="selects-container">
        <div class="row">
            <form class="col s6 offset-s3" (ngSubmit)="login()" [formGroup]="miFormulario">
                <div class="card-content">
                    <span class="card-title white-text">
              <h4 class="center">Inicio de Sesion</h4>
            </span>
                    <label for="email" class="card-title white-text">Correo Electronico:</label>
                    <div class="input-field">
                        <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" formControlName="nombre-email">
                    </div>
                    <label *ngIf="!miFormulario.controls['nombre-email'].valid">El Correo no es valido</label>
                    <br/>
                    <label for="password" class="card-title white-text">Contraseña:</label>
                    <div class="input-field">
                        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" formControlName="password-email">
                    </div>
                    <label class="red-text" *ngIf="mostrar">Inicio de Sesion no es correcto</label>
                    <p></p>
                    <button class="btn waves-effect green darken-1 center" type="submit" [disabled]="!miFormulario.valid">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>