<div class="container" fxlayout='column' fxLayoutGap='10px'>


    <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="100">
                <h2>Carrito de Compra</h2>
                <div class="row">
                    <div class="col s12" >

                        <ul class="collection" *ngFor="let item of carritos,let indice=index">
                            <li class="collection-item avatar">
                                <img src={{item.imagen}} alt={{item.nombre}} class="circle">
                                <span class="title">Producto: {{item.nombre}}</span>
                                <p>Cantidad: <span> {{item.cantidad}} </span><br>
                                    Precio: <span> {{item.precio | currency}} </span> <br>
                                    SubTotal: <span> {{item.precio * item.cantidad |currency}} </span>
                                </p>
                                <a  class="secondary-content" ><i class="material-icons icon-red" (click)="eliminarCarrito(indice)">delete</i></a>
                            </li>
                          
                        </ul>

                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Total Compra</span>
                                <h1>{{totalCompra}}</h1>

                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col m6">
                                        <a class="waves-effect waves-red btn-small red accent-3" (click)='vaciarCarrito()'>Cancelar</a>
                                    </div>

                                    <div class="col m6">
                                        <a class="waves-effect waves-light btn-small" (click)='pagarCarrito()' routerLink = '/menu'>Pagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>