<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda en Linea</title>
</head>

<body>
  <!-- barra de navegacion -->
  <div class="container-fluid">

  <app-barra-superior></app-barra-superior>


    <form class="form-inline offset-sm-8 col-sm-4 p-3">
      <input class="form-control mr-sm-2" type="buscar" placeholder="Ingrese el producto a buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

    <!-- tarjeta -->

    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/aguacate.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aguacate</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/ajo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ajo</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/almendras.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Almendras</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/arandanos.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Arandanos</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/brocoli.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aguacate</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/kiwi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ajo</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/canela.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Almendras</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col mb-3">
        <div class="card h-100 text-white bg-dark">
          <img src="../assets/fresa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Arandanos</h5>
            <p class="card-text">Precio: $5</p>
            <p class="card-text">Unidades Disponibles: 46</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row">
              <div class="col-4"> <a href="#" class="btn btn-primary">Ver Más</a>
              </div>
              <div class="col-4"> <a href="#" class="btn btn-warning">Añadir</a>
              </div>
              <div class="col-4">
                <input type="number" class="col-12" name="cantidadcompraproducto" id="cantidadcompraproducto" value="1">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</body>

</html>